<h1>This should display menu box</h1>


<input id="searchPlace" class="controls" type="text" size="60"  placeholder="Search here..">

<br>
<div id="map-canvas" style="height: 800px" width="auto"></div>


